@green: #55aa31;
@gray: #b3b3b3;
@lightGray: #f9f9f9;
@textGray: #4d4d4d;
@borderGray: #ccc;
@mobile: ~"screen and (max-width: 1023px)";
@mobileStrict: ~"screen and (max-width: 767px)";
@tablet: ~"screen and (min-width: 768px) and (max-width: 1023px)";

.fixtext() {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}