{{> head}}

<h1>{{greeting}}</h1>

<ul>
	{{#creatures}}
		<li>{{name}}</li>
	{{/creatures}}
</ul>

<dl>
	<dt>Имф</dt>
	<dd>{{name}}</dd>
	<dt>Профессия</dt>
	<dd>{{profession}}</dd>
	<dt>Город</dt>
	<dd>{{city}}</dd>
</dl>


{{> foot}}
